/* 基本的页面样式 */
* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

body, html {
    height: 100%;
    /*overflow: scroll;*/
    width: 100%;
}

/* 每个部分的高度设置为 100vh */
div[id^="page"] {
    width: 100%;
    height: 100vh; /* 每个部分占满一个屏幕的高度 */
    display: flex;
    justify-content: center;
    align-items: center;
    /*text-align: center;*/
}

/* 设置不同部分的背景色 */
#page1 {
    background-color: #4CAF50; /* 头部背景颜色 */
    color: white;
}

#page2 {
    background-color: #f8f8f8; /* 主体部分背景颜色 */
}

#page3 {
    background-color: #333;
    color: white;
}

#page4 {
    background-color: white;
}

#page5 {
    background-color: red;
}

#page6 {
    background-color: yellow;
}
#page7 {
    position: relative;
    background-color: brown;
}
#page8 {
    background-color: blue;
}
#page9 {
    background-color: violet;
}
/* 平滑滚动效果 */
html {
    scroll-behavior: smooth;
}

#month_chart {
    width:100vw;
    height:80vh;
}

#day_chart {
    width:100vw;
    height:80vh;
}
#wordcloud_chart{
    width:100vw;
    height:80vh;
}
#calls_chart{
    width:100vw;
    height:80vh;
}
#hour_chart{
    width:100vw;
    height:80vh;
}
#china_chart{
    position: relative;
    width:100vw;
    height:100vh;
}
#page8_wrapper{
    width:100%;
    height:100%;
}
#container{
    width:100vw;
    height:100vh;
}

.amap-icon img,
.amap-marker-content img {
    width: 25px;
    height: 34px;
    /*text-align: left;*/
}

.clock {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.digit {
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}
#basic_info{
    font-size: 3rem;
    text-align: left;
}
#animatedNumber, .animated_num{
    font-family: "Courier New", monospace; /* 使用等宽字体 */
    font-size: 3rem;
    font-weight: bold;
    /*width: 10ch; !* 预留5位数字的宽度（10ch 是 5 位数字的宽度） *!*/
    text-align: right;
    white-space: nowrap; /* 防止换行 */
}
span{
    display: inline-block;
}
#type{

    border: 2px solid #000; /* 边框颜色和宽度 */
    border-radius: 20px; /* 圆角半径 */
    padding: 5px;

    position: absolute;
    left: 40vw;
    width: 20vw;
    font-size: 2rem;
    text-align: left;
    top: 30vh;
}